div{
width: 100px;
height: 100px;
border-radius: 0px;
background-color: red; 
transition-property: background-color, border-radius, transform,width ;
transition-duration: 5s, 3s;
transition-delay: 0s, 5s;
/*
transition-timing-function: linear, ease-in;*/
transition-timing-function: cubic-bezier(.51,.93,0,-0.04);
transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
/*si no quiero que se vea la parte de atrás del elemento
backface-visibility: hidden;
*/
}


div:hover{
border-radius: 50%;
background-color:green; 
transform: rotate(45deg) rotateX(360deg) rotateY(180deg); 
width: 50px;  

}