main { position: relative; width: 50%; height: 30vh;}
div {

background-color: blue;
position: absolute;
left:0;
top: 0;

height:100px;

/*
animation-name: miAnimacion;
animation-duration: 5s;
*/
animation: miAnimacion  10s linear infinite alternate backwards paused;


}


@keyframes miAnimacion {
  
   0% {
font-family: Arial;         
background-color: pink;


    } /*desde , inicia la animación así*/

20% {
border-radius: 100px;
left: -100px;

}


50% {

transform: rotateY(200deg);
left: 0px;

}


   100% {
font-family: Verdana;
background-color: purple;
left: 150%;
    } /*hacia, termina la animación así*/
    


}

